<div class="outer">
    <div class="container">
        <div class="row">
            <div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-md-3">
                <div class="panel border bg-white">
                    <div class="panel-heading">
                        <h3 class="pt-3 font-weight-bold">Register</h3>
                    </div>
                    <div class="panel-body p-3">
                        <form [formGroup]="registerForm" (ngSubmit)="registerData()">
                            <div class="form-group pt-3">
                                <div class="input-field">
                                    <span class="fa fa-user p-2"></span>
                                    <input type="text" placeholder="First Name" formControlName="firstName">
                                </div>
                            </div>
                            <small class="text-danger" *ngIf="registerForm.controls['firstName'] && registerForm.hasError('required','firstName')">*Username Required</small>
                            <div class="form-group pt-3">
                                <div class="input-field">
                                    <span class="fa fa-user p-2"></span>
                                    <input type="text" placeholder="Last Name" formControlName="lastName">
                                </div>
                            </div>
                            <small class="text-danger" *ngIf="registerForm.controls['lastName'] && registerForm.hasError('required','lastName')">*Username Required</small>
                            <div class="form-group pt-3">
                                <div class="input-field">
                                    <span class="fa fa-user p-2"></span>
                                    <input type="text" placeholder="Mail Id" formControlName="email">
                                </div>
                            </div>
                            <small class="text-danger" *ngIf="registerForm.controls['email'] && registerForm.hasError('required','email')">*Username Required</small>
                            <div class="form-group pt-3">
                                <div class="input-field">
                                    <span class="fa fa-user p-2"></span>
                                    <input type="text" placeholder="Password" formControlName="password">
                                </div>
                            </div>
                            <small *ngIf="registerForm.controls['password'] && registerForm.hasError('required','password')"></small>
                            <div class="form-group pt-3">
                                <div class="input-field">
                                    <span class="fa fa-user p-2"></span>
                                    <input type="number" placeholder="Enter Phone" formControlName="phone">
                                </div>
                            </div>
                            <small class="text-danger" *ngIf="registerForm.controls['phone'] && registerForm.hasError('required','phone')">*Username Required</small>
                            <!-- <div class="form-group pt-3">
                                <div class="input-field">
                                    <span class="fa fa-user p-2"></span>
                                    <input type="text" placeholder="username">
                                </div>
                            </div> -->
                            <!-- <div class="form-inline fr mt-4">
                                <a id="forget" class="font-weight-bold">Forget Password?</a>
                            </div> -->
                            <button type="submit" (click)="registerData()" class="btn btn-primary btn-block mt-4 w-100">Register</button>
                            <!-- <div class="text-center pt-4 text-muted">Don't have account? <a id="forget" routerLink="/signUp">Sign Up</a></div> -->
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
